/**
*author: Raphael dos Santos Jesus
**/
html, button, input, select, textarea {
	color: #222;
}
body {
	font-size: 1em;
	line-height: 1.4;
}

hr {
	display: block;
	height: 3px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -ms-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -o-linear-gradient(left, #fff, #e6e6e6, #fff);
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}

img {
	vertical-align: middle;
}

textarea {
	resize: vertical;
}
/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
	height: auto;
}
body {
  	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
#centralizar-img{
top:50%;
left:50%;
margin-top:-100px;
margin-left:80px;
}
.col-md-4 {
	padding-bottom: 30px;
}
.row {
	margin-right: 0px;
	margin-left: -15px;
}
.modal-header {
	background: #fff;
}
.modal-header h4 {
	color: #5e5e5e;
	font-weight: 700;
	letter-spacing: 1px;
}
.modal-footer {
	background: #fff;
}
.graficos{
	padding-bottom: 20px;
}
/* ================= NAVBAR DEFAULT =================*/
.navbar-default .navbar-nav > li > a {
  color: #555;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #38b5c9;
  background-color: transparent;
  
  
}
.navbar-default {
	background-color: #fff;
	padding: 12px 0;
	box-shadow: 0 0 3px #ccc;
	font-weight: 500;
}
.navbar-default .navbar-brand {
	font-weight: 700;
	font-size: 26px;
	color: #666;
}
.navbar-brand .fa {
	color: #38b5c9;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #38b5c9;	
}
/* ================= NAVBAR DEFAULT =================*/

/* ================= NAVBAR CUSTOM =================*/
.navbar-custom .navbar-nav > li > a {
  color: #555;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #38b5c9;
  background-color: transparent;
  border-bottom: 3px solid #38b5c9;
  font-weight: 900;
}
.navbar-custom {
	background-color: #fff;
	border-bottom: 1px solid rgba(204, 204, 204,0.2);
	font-weight: 500;
}
.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 26px;
	color: #666;
}
.navbar-brand .fa {
	color: #38b5c9;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
	color: #38b5c9;	
}
.top-line{ 
    display:block;
    border:none;
    color:white;
    width:100%;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#5e5e5e), to(#fff));
}
.bot-line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#5e5e5e), to(#fff));
}
.infos{
	margin-top: 40px;
}
/* ================= NAVBAR CUSTOM =================*/

.title-geo{
	text-align: center;
	border-bottom: 3px solid #38B5C9;
	padding-bottom: 10px;
}

a img {
	background: white;
}
.odd a img {
	background: #f5f5f5;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	color: #555;
}
h2 {
	font-size: 34px;
	color: #666;
	font-weight: 500;
}
h3 {
	font-size: 24px;
	font-weight: 500;
}
/* Paragraph & Typographic */
p {
	line-height: 26px;
/*	margin-bottom: 20px;*/
}
p.large {
	font-size: 18px;
	margin-bottom: 50px;
}
.centered {
	text-align: center;
}
strong {
	font-weight: 700;
}
em {
	font-weight: 300;
}
pre {
	background: #ebebeb;
	border: none;
	font-family: "Monaco";
	font-size: 16px;
	color: #666;
	padding: 20px;
	line-height: 28px;
}
small {
	font-size: 12px;
}
blockquote, blockquote p {
	line-height: 28px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}
blockquote {
	position: relative;
	margin: 0 0 40px -30px;
	padding-left: 30px;
	border-left: 5px solid #3498db;
}
blockquote cite {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-size: 12px;
	font-style: italic;
	color: #333;
	font-weight: 300;
}
blockquote cite:before {
	content: "-- "
}
/* Images */
.overflow-image {
	margin-top: -65px;
}
/* Links */
a {
	color: #4abcc5;
	font-weight: 600;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #38b5c9;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#home {
	background: #fff;
	/*padding-top: 200px;*/
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: auto;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
	margin-top: 70px;
}
#home h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	padding-bottom: 10px;
}
#home p {
	color: #5E5E5E;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
}
#form-data{
	padding-top: 25px;
	margin-top: 130px;
}
.btn-enviar{
	width:100%;
    color: #fff;
    background-color: #38B5C9;
    border-color: #38B5C9;
    margin-top: 25px;
    font-size:15px;
}
.submenu{
	background: #f1f1f1;
}
#observatorios {
	background: url(../img/observatorios.jpg) no-repeat center center fixed;
	padding: 250px 0;
	text-align: center;
	background-size: cover;
}
#observatorios .fa {
	color: #c0ed5d;
}
#observatorios hr {
	display: block;
	height: 3px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}
#observatorios p {
	text-align: left;
	color: #fff;
}
#observatorios H2 {
	color: #fff;
}
#observatorios H3 {
	color: #fff;
}
.observs{
    min-height: 100%;
    background: #fff;
/*    padding:12px 5px 5px 0;
    border: 2px solid #e2e2e2;*/
    margin-top: 60px;
}
#geo-index {
	background: #fff;
	padding-top: 80px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 60px;
}
#geo-index img {
	margin-top: 0;
}
#solarstorm {
	background: url(../img/solarstorm.jpg) no-repeat center center fixed;
	padding: 250px 0;
	text-align: center;
	background-size: cover;
}
#solarstorm .fa {
	color: #c0ed5d;
}
#solarstorm hr {
	display: block;
	height: 3px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}
#solarstorm p {
	text-align: center;
	color: #fff;
}
#solarstorm H2 {
	color: #fff;
}
#solarstorm H3 {
	color: #fff;
}
#solarstorm {
	background-color: #fff;
	padding: 250px 0;
}
#solarstorm .btn-default {
	border: 0;
}
#observatories {
	background: #fff;
	padding-top: 30px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 60px;
}
#observatories p {
	text-align: left;
	font-weight: 600;
}
.titulo{
	font-weight: 900;
	color: #5e5e5e;
	border-bottom:1px solid #5e5e5e;
}
#greywrap {
	background: #f5f5f5;
	margin-top: 0px;
	padding: 50px 0;
	border-bottom: 1px solid #eee;
	text-align: center;
}
#greywrap .btn {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 20px;
	margin: 0 25px;
	background-color: #fff;
	border-color: #e2e2e2;
	color: #888;
	border-bottom: 0;
	letter-spacing: 1px;
}
#greywrap .btn:hover, #greywrap .btn:focus {
	margin: 0 25px;
	background-color: #fff;
	border-color: #a5cdd5;
	border-bottom: 0;
	outline: 0px;
	color: #a5cdd5;
}
#greywrap h2 {
	font-size: 30px;
}
#greywrap .callout {
	margin-bottom: 20px;
}
#greywrap p {
	font-size: 30px;
}
#greywrap .fa {
	font-size: 18px;
	margin-right: 4px;
}
#footerwrap {
	background: #2b2b2b;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
#footerwrap span.copyright {
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
#footerwrap span.copyright a {
	color: #888;
	border-bottom: 1px dotted;
}
#footerwrap span.copyright a:hover {
	color: #3ab7cb;
	text-decoration: none;
}
#footerwrap h4 {
	color: white;
}
ul.social-buttons {
	margin: 0;
}
ul.social-buttons li a {
	font-size: 24px;
	outline: 0;
	color: #999;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	color: #3ab7cb;
}
/* ==========================================================================
   Box Sections
   ========================================================================== */

.white h1 {
	color: #999;
}
.white p {
	padding-top: 15px;
	text-indent: 15px;
}

/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
	margin: 0;
	position: relative;
	border: 1px solid #ddd;
}
.grid figure img {
	width: 100%;
	display: block;
	position: relative;
	
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background-color: #34b1c4;
}
.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
}
.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: #2f2f2f;
	color: #fff;
	font-size: 13px;
}
/* Caption Style */
.mask figure {
	overflow: hidden;
}
.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .mask figure:hover img, .mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mask figure:hover figcaption, .mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.mask figcaption a {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 30px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
body .header {
	background-attachment: scroll;
}
}

/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
.header {
	background-attachment: scroll;
}
}

@media screen and (max-width:769px) {
#home h1 {
	font-size: 40px;
}
#home p {
	font-size: 20px;
}
}
